.celtic-cross-reading{
  margin: 0px 100px;
  padding-top: 50px;
}

.celtic-cross-head{
  text-align: center;
}
.celtic-cross-head h1 {
  color: #E0E0E0;
  font-size: 50px;
  margin-bottom: 20px;
  border-bottom: solid 2px #8B0000;
}
.draw-button-container{
  display: flex;
  justify-content: center;
  gap: 30px;
}

.celtic-cross-head h2 {
  color: #C0C0C0;
  font-size: 30px;
}
.celtic-cross-layout {
  display: grid;
  grid-template-columns: repeat(5, 200px); 
  grid-template-rows: repeat(4, 320px); 
  grid-template-areas: 
    ".    card5   .   card10  ."
    "card6 card1-2 card4 card9 ."
    ".    card3   .   card8   ."
    ".    .      .   card7   .";
  grid-gap: 20px;
  justify-content: center;
  margin-top: 50px;
}

.celtic-cross-layout img {
  width: 200px;
  height: 320px;
  object-fit: cover;
  box-shadow: 0 0 10px 2px #8B0000;
  background-color: #0D0D0D;
}

.card1-2 {
  grid-area: card1-2;
  position: relative;
}

.present {
  position: absolute;
  z-index: 1;
}

.challenge {
  position: absolute;
  z-index: 2; 
  transform: rotate(90deg); 
}
.challenge-reversed{
  position: absolute;
  z-index: 2; 
  transform: rotate(270deg); 
}
.card3 { 
  grid-area: card3;
  justify-self: center; 
}

.card4 { grid-area: card4; }
.card5 { grid-area: card5; }
.card6 { grid-area: card6; }
.card7 { grid-area: card7; }
.card8 { grid-area: card8; }
.card9 { grid-area: card9; }
.card10 { 
  grid-area: card10; 
  justify-self: center; 
}

.reversed {
  transform: rotate(180deg); 
}
.celtic-button{
  background-color: #8B0000;
  color: white;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  margin-top: 20px;
  border-radius: 5px;
}
.celtic-button:hover {
  background-color: #6D0000;
  transition: 0.3s;
}
.card-meanings{
  box-shadow: 0 0 10px 2px #8B0000;
  background-color: #0D0D0D;
  margin-top: 50px;
}
.card-meanings p {
  color: #C0C0C0;
  padding: 20px;
}
.card-meanings h3, .card-meanings h2{
  color: #E0E0E0;
  padding: 10px;
}
.card-meaning{
  border-bottom: solid 2px #8B0000;
}
@media only screen and (max-width: 480px) {
  .celtic-cross-reading{
    margin: 0 10px;
    padding-top: 20px;
  }
  .celtic-cross-head h1 {
    font-size: 20px;
  }
  .celtic-cross-layout{
    grid-template-columns: repeat(5, 75px); 
    grid-template-rows: repeat(4, 123.75px); 
  }
  .celtic-cross-head h2 {
    font-size: 15px;
  }
  .celtic-cross-layout{
    margin-left: 80px;
  }
  .celtic-cross-layout img{
    width: 75px;
    height: 123.75px;
  }
}